[submodule "thirdparty/nlohmann"]
	path = thirdparty/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
